<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    
    <title>Signup</title>
</head>
<body>
    <%- include('./partials/nav') %>
    <div class="container mt-4" >
        <form action="/user/signup" method="post">
            <div class="form-group">
                <label for="exampleInputEmail1">FullName</label>
                <input type="fullName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter fullName" name="fullName">
                <small id="emailHelp" class="form-text text-muted"></small>
              </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group mt-4">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
            </div>
            
            <button type="submit" class="btn btn-primary mt-4">Submit</button>
          </form>
    </div>

    <%- include('./partials/scripts') %>
</body>
</html>